body {
	font-family: 'Ubuntu', sans-serif; 	font-size: 14px;
}

.styled-select {
   background: transparent;
   height: 25px;
   font-size: 12px;
   overflow: hidden;
   width: 150px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}