<!-- @autor flaviodev - Flávio de Souza - fdsdev@gmail.com 
     window for register institutes of education using the controller: CrudCtrl -->

<!-- this divs works how variables to set on controller 
     the path of project where the services will be invoked,
     the crud services to obtain objects to table
     and de html componets names for manipulation. Attention:       
     dont change the id of the div and custom attribuites names.
 -->
<div id="Crud" class="container" ng-controller="CrudCtrl"
     data-ttm-model="/curriculum-control-php/Employer"
     data-ttm-crudgroupregister="form"
     data-ttm-crudregister="employer"
     data-ttm-crudtable="employersTable">

    <!-- div of registers table (ttm-crudtable)  -->
	<div class="col-md-12">
       <table class="table">
	      <thead>
             <tr>
                <th></th>
                <th>Name</th>
                <th></th>
                <th></th>
             </tr>
          </thead>
          <tbody>
             <!-- Repeation for fill the table with the returned data of the service (ttm-getobjects) 
                  Attention: the name of data collection on repeat must be setted on "Crud div" in
                  custom attribute "data-ttm-crudtable"  
             -->
             <tr ng-repeat="employerItem in employersTable">
                <td>{{employerItem.id}}</td>
                <td>{{employerItem.name}}</td>
                             
                <!-- action to load the data on form -->
                <td><button class="btn btn-primary" ng-click="loadObject(employerItem)">Edit</button></td>
                
                <!-- action to delete the register on data base -->
                <td><button class="btn btn-primary" ng-click="deleteObject(employerItem.id)">Delete</button></td>
             </tr>          
          </tbody>
       </table>
    </div>

    <!-- data register form. Attention: use the pattern to naming a attribute for 'ng-model', 
         using two grouper for data, a name of group register and a name of register. 
         ex: formStudent.student.name (groupResgister.register.attribute)
         these name must be setted on 'crud div'  on custom attributes      
         "data-ttm-group-crudregister" and "data-ttm-crudregister"
         -->
	<form>
		<div class="form-group"  ng-show="edition_mode">
		   	<label>Id</label>
        	<input type="number" class="form-control" ng-model="form.employer.id" disabled="disabled">
        	<label>Name</label>
        	<input type="text" maxlength="50" class="form-control" ng-model="form.employer.name" >
	    </div>

		<!-- action to show the button for create a new object -->
		<button class="btn btn-primary" ng-show="view_mode" ng-click="newObject()">New</button>
		
		<!-- action to update the register on data base -->
		<button class="btn btn-primary" ng-show="update_mode" ng-click="updateObject(form.employer)">Update</button>

		<!-- action to create a new register on data base -->
		<button class="btn btn-primary" ng-show="create_mode" ng-click="createObject(form.employer)">Save</button>

		<!-- action to reset the form -->
		<button class="btn btn-primary" ng-show="edition_mode" ng-click="cancelEdition()">Cancel</button>
	</form>
</div>
