 <div class="container" ng-controller="serviceInstitute">
	<div class="col-md-12">
       <table class="table">
	      <thead>
             <tr>
                <th>#</th>
                <th>Name</th>
             </tr>
          </thead>
          <tbody>
             <tr ng-repeat="institute in institutes">
                <td>{{institute.id}}</td>
                <td>{{institute.name}}</td>
                <td><button class="btn" ng-click="loadInstitute(institute)">Editar</button></td>
                <td><button class="btn" ng-click="deleteInstitute(institute.id)">Excluir</button></td>
             </tr>          
          </tbody>
       </table>
    </div>

	<form name="instituteForm">
		<div class="form-group">
        	<label>Id</label>
        	<input type="number" name="id" max="100" class="form-control" ng-model="data.institute.id" disabled="disabled">
        	<label>Name</label>
        	<input type="text" name="name" maxlength="50" class="form-control" ng-model="data.institute.name" >
	    </div>
		
		<button id="btUpdate" type="button" ng-click="updateInstitute(data.institute.id)" class="btn btn-primary">Update</button>
		<button id="btCreate" type="button" ng-click="createInstitute()" class="btn btn-primary">Create</button>
		<button id="btCreate" type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
	</form>
</div>




