<!-- @autor flaviodev - Flávio de Souza - fdsdev@gmail.com 
     window for register instituties of education using the controller: CrudCtrl -->

<!-- this divs works how variables to set on controller 
     the path of project where the services will be invoked,
     the crud services to obtain objects to table
     and de html componets names for manipulation. Attention:       
     dont change the id of the div and custom attribuites names.
 -->
<div id="Crud" ng-controller="CrudCtrl"
     data-ttm-control-service="curriculum-control-php"
     data-ttm-entity="InstituteOfEducation">

	<div id='message-area'>
		<span id="message-status"></span>
	</div>
	
	<div id='edition-area' class="container">
	
		<div id='update-title' ng-show="updating_mode">Updating Institute of Education (Id:{{InstituteOfEducation.id}})</div>
	
		<form id='edtition-form' name='editForm' ng-show="edition_state" novalidate>
			
			<!-- Edition fields form -->
			Name: <input type="text" name='name' ng-minlength='4' ng-maxlength='100' class="form-control" ng-model="InstituteOfEducation.name" required >
			<div class='required-field' ng-show="editForm.name.$error.required">* Name is required</div>
			<div class='required-field' ng-show="editForm.name.$error.minlength">* Name must be at least 4 characters</div>
			<div class='required-field' ng-show="editForm.name.$error.maxlength">* Name can be a maximum of 100 characters</div>
						
		    <div id='update-buttons' ng-show="updating_mode">
				<!-- action to update the register on data base -->
				<button class="btn btn-success" ng-disabled='editForm.$invalid' ng-click="updateObject(InstituteOfEducation)">Update</button>
										
				<!-- action to reset the form -->
				<button class="btn btn-default" ng-click="cancelEdition()">Cancel</button>
			</div>
	
			<div id='save-buttons' ng-show="creating_mode">
				<!-- action to create a new register on data base -->
				<button class="btn btn-success"  ng-disabled='editForm.$invalid' ng-click="createObject(InstituteOfEducation)">Save</button>
						
				<!-- action to reset the form -->
				<button class="btn btn-default" ng-click="cancelEdition()">Cancel</button>
			</div>
		</form>
	</div>

	<div id='table-area' class='container'>
	
		<div id='new-button' ng-show="view_state">
			<button class="btn btn-primary"  ng-click="newObject()">+ New Institute of Education</button>
		</div>
	
		<table id="registers-table" cellspacing="0" ng-table="tableParams" show-filter="true" class="table table-striped">
			<tr ng-repeat="InstituteOfEducation in $data">
				
				<!-- register fields table form -->
				<td title="'id'" style="width:3%">{{InstituteOfEducation.id }}</td>
				<td title="'Name'" sortable="'name'"  filter="{name: 'text'}"  >{{InstituteOfEducation.name }}</td>
				
				<td style="width:3%">
					<button id='button-load' type="button" class="btn btn-warning" ng-click="loadObject(InstituteOfEducation)">
					   <span class="glyphicon glyphicon-pencil"></span>
					</button>
				</td>
				
				<td style="width:3%">
					<button id='button-delete' type="button" class="btn btn-danger" ng-click="deleteObject(InstituteOfEducation)">
					   <span class="glyphicon glyphicon-remove-circle"></span>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>