<!-- @autor flaviodev - Flávio de Souza - fdsdev@gmail.com 
     window for register profiles using the controller: CrudCtrl -->

<!-- TODO create a component for reuse the window -->     
<div class="container" ng-controller="CrudCtrl">

    <!-- this divs works how variables to set on controller 
         the path of project where the services will be invoked,
         and the service to obtain the list of objects to table 
         (finding a better solution)   
     -->
	<div id="pathBase" hidden="true">/curriculum-control-php</div>
	<div id="serviceGetObjects" hidden="true">ServiceRegister/getProfiles</div>

    <!-- div of registers table  -->
	<div class="col-md-12">
       <table class="table">
	      <thead>
             <tr>
                <th></th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Document</th>
                <th></th>
                <th></th>
             </tr>
          </thead>
          <tbody>
             <!-- repeation for fill the table with the returned data of the 
             service (div:serviceGetObjects). Attention: how the windows uses a common
             the attribute 'registers' cant be changed! Because the controller references it -->
             <tr ng-repeat="profile in registers">
                <td>{{profile.id}}</td>
                <td>{{profile.name}}</td>
                <td>{{profile.dateOfBirth | date}}</td>
                <td>{{profile.document}}</td>
                             
                <!-- action to load the data on form -->
                <td><button class="btn" ng-click="loadObject(profile)">Edit</button></td>
                
                <!-- action to delete the register on data base -->
                <td><button class="btn" ng-click="deleteObject(profile.id,'ServiceRegister/deleteProfile')">Delete</button></td>
             </tr>          
          </tbody>
       </table>
    </div>

    <!-- data register form. Attention: the prefix (form.register) name of 'ng-model' on input field
         cant be changed! Because the controller references it  -->
	<form name="profileForm">
		<!-- TODO configure the disable of fields -->
		<div class="form-group">
		   	<label>Id</label>
        	<input type="number" name="id" class="form-control" ng-model="form.register.id" disabled="disabled">
        	<label>Name</label>
        	<input type="text" name="name" maxlength="50" class="form-control" ng-model="form.register.name" >
        	<label>Date of Birth</label>
        	<input type="date" name="dateOfBirth" maxlength="50" class="form-control" ng-model="form.register.dateOfBirth" >
        	<label>Document</label>
        	<input type="text" name="document" maxlength="50" class="form-control" ng-model="form.register.document" >
	    </div>

		<!-- action to update the register on data base -->
		<button id="btUpdate" type="button" ng-click="newObject()" class="btn btn-primary" ng-show="view_mode">New</button>
		
		<!-- action to update the register on data base -->
		<button id="btUpdate" type="button" ng-click="updateObject(form.register,'ServiceRegister/updateProfile')" class="btn btn-primary" ng-show="update_mode">Update</button>

		<!-- action to create a new register on data base -->
		<button id="btCreate" type="button" ng-click="createObject(form.register,'ServiceRegister/createProfile')" class="btn btn-primary"  ng-show="create_mode">Save</button>

		<!-- action to reset the form -->
		<button id="btCreate" type="button" ng-click="cancelEdition()" class="btn btn-primary" ng-show="edition_mode" ng-model="editon">Cancel</button>
	</form>
</div>




