<!-- @autor flaviodev - Flávio de Souza - fdsdev@gmail.com 
     window for register profiles using the controller: CrudCtrl -->

<!-- @todo create a web component for reuse the window -->

<!-- this divs works how variables to set on controller 
     the path of project where the services will be invoked,
     the crud services to obtain objects to table
     and de html componets names for manipulation. Attention:       
     dont change the id of the div and custom attribuites names.
 -->
<div id="Crud" class="container" ng-controller="CrudCtrl"
     data-ttm-context="/curriculum-control-php"
     data-ttm-getobjects="ServiceRegister/getProfiles"
     data-ttm-getobject="ServiceRegister/getProfile"
     data-ttm-createobject="ServiceRegister/createProfile"
     data-ttm-updateobject="ServiceRegister/updateProfile"
     data-ttm-deleteobject="ServiceRegister/deleteProfile"
     data-ttm-crudgroupregister="form"
     data-ttm-crudregister="profile"
     data-ttm-crudtable="profilesTable">

    <!-- div of registers table (ttm-crudtable)  -->
	<div class="col-md-12">
       <table class="table">
	      <thead>
             <tr>
                <th></th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Document</th>
                <th></th>
                <th></th>
             </tr>
          </thead>
          <tbody>
             <!-- Repeation for fill the table with the returned data of the service (ttm-getobjects) 
                  Attention: the name of data collection on repeat must be setted on "Crud div" in
                  custom attribute "data-ttm-crudtable"  
             -->
             <tr ng-repeat="profileItem in profilesTable">
                <td>{{profileItem.id}}</td>
                <td>{{profileItem.name}}</td>
                <td>{{profileItem.dateOfBirth | date}}</td>
                <td>{{profileItem.document}}</td>
                             
                <!-- action to load the data on form -->
                <td><button class="btn btn-primary" ng-click="loadObject(profileItem)">Edit</button></td>
                
                <!-- action to delete the register on data base -->
                <td><button class="btn btn-primary" ng-click="deleteObject(profileItem.id)">Delete</button></td>
             </tr>          
          </tbody>
       </table>
    </div>

    <!-- data register form. Attention: use the pattern to naming a attribute for 'ng-model', 
         using two grouper for data, a name of group register and a name of register. 
         ex: formStudent.student.name (groupResgister.register.attribute)
         these name must be setted on 'crud div'  on custom attributes      
         "data-ttm-group-crudregister" and "data-ttm-crudregister"
         -->
	<form>
		<!-- TODO configure the disable of fields -->
		<div class="form-group"  ng-show="edition_mode">
		   	<label>Id</label>
        	<input type="number" name="id" class="form-control" ng-model="form.profile.id" disabled="disabled">
        	<label>Name</label>
        	<input type="text" name="name" maxlength="50" class="form-control" ng-model="form.profile.name" >
        	<label>Date of Birth</label>
        	<input type="date" name="dateOfBirth" maxlength="50" class="form-control" ng-model="form.profile.dateOfBirth" >
        	<label>Document</label>
        	<input type="text" name="document" maxlength="50" class="form-control" ng-model="form.profile.document" >
	    </div>

		<!-- action to show the button for create a new object -->
		<button class="btn btn-primary" ng-show="view_mode" ng-click="newObject()">New</button>
		
		<!-- action to update the register on data base -->
		<button class="btn btn-primary" ng-show="update_mode" ng-click="updateObject(form.profile)">Update</button>

		<!-- action to create a new register on data base -->
		<button class="btn btn-primary" ng-show="create_mode" ng-click="createObject(form.profile)">Save</button>

		<!-- action to reset the form -->
		<button class="btn btn-primary" ng-show="edition_mode" ng-click="cancelEdition()">Cancel</button>
	</form>
</div>
